/*
Title:coming soon css
Date: 08-31-2011
Version: 1.1
Author: Grace Salem
*/

@import url("reset.css") screen;
@import url("animation.css") screen;

audio,canvas,video{background:#000;display:inline-block;*display:inline;*zoom:1}
audio:not([controls]){display:none}[hidden]{display:none}

/*----------------------------------------Main Styles---------------------------------------------*/
	
body {
	font-size: 100%;
	line-height: 1.4;
	font-family: 'Open Sans Condensed', sans-serif;
	text-transform: uppercase;
	text-align: center;
	/* min-width: 760px; */ /*steve added*/
}

/*---------------------------------------Typography---------------------------------------------*/	
h1 {
	font-size: 2.61em;
	font-weight: 600;
	line-height:1em;
	margin: 1em 0.5em;
	font-weight: 600;
	letter-spacing:-0.05em; 
}

p {
	font-size: 1.5em;	
	font-family: 'Open Sans Condensed', sans-serif;
	margin: 1.2em 0;
	color:#7F7F7F;
	font-weight: 500;
	letter-spacing:0.05em;
	word-spacing:5px; 
}

b {
	font-family: 'Open Sans Condensed', sans-serif;
	margin: 1.2em 0;
	color:#575757;
	font-weight: 500;
	letter-spacing:0.05em;
	word-spacing:5px; 
}	

a  {
	outline: none;
	overflow: hidden;
	color:#B2B2B2;
	text-decoration:none;
}

a:hover {
	/* color:#00AEEF; */ /* blue */
	color:#c21010; /* red */
}

a:focus {
	-moz-outline-style: none;
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
    opacity: 0.5;
    width: 50px;
    height: 50px;
    z-index: 100 !important;
}

button img {
    width:100%;
    height:100%;
}

button:hover {
    opacity: 1;
}


/*----------------------------------------SOCIAL---------------------------------------------*/
#twitter a {background:; width: 150px; text-decoration:none; color:#B2B2B2;}
#twitter a:hover {color:#00AEEF; /* twitter blue */}

#tumblr a{background:; width: 150px; text-decoration:none; color:#B2B2B2;}
#tumblr a:hover {color:#375D7C; /* tumblr blue grey*/}

#vimeo a{background:; width: 250px; text-decoration:none; color:#B2B2B2;}
#vimeo a:hover {color:#F15A22; /* red orange */}

#linkedin a{background:; width: 150px; text-decoration:none; color:#B2B2B2;}
#linkedin a:hover {color:#EC008C; /* magenta */}

#ha a{background:; width: 150px; text-decoration:none; color:#B2B2B2;}
#ha a:hover {color:#AB4A9C; /* purple */}

#resume a{background:; width: 150px; text-decoration:none; color:#B2B2B2;}
#resume a:hover {color:#f8b52f; /* orange */}
	
#mail a{background:; width: 150px; text-decoration:none; color:#B2B2B2;}
#mail a:hover {color:#25B34B; /* green */}



/*----------------------------------------HELLO---------------------------------------------*/
#hello {
}

.logo {
	background: url("images/logo_greyc.svg") top center no-repeat;
	width:150px;
	height:80px;
	text-align: center;
	margin:70px auto 0 auto;
}

.helloText {
	margin:20px 5%;
}


/*----------------------------------------CONTENT---------------------------------------------*/
#content {
	/*display:none;*/
}
	
.module { 
	/*display:none;*/
	width:100%;
	position:relative;
	top:0px;
	overflow: hidden;
	clear:both;
}

.module .title {
	font-size: 2.61em;
	font-weight: 600;
	line-height:1em;
	margin: 1em 10%;
	font-weight: 600;
	letter-spacing:-0.05em; 
}

.module .section {
	margin-top:3em;
}

/*Carousel*/
.carouselWrapper {
	position:relative;
	max-width:90%;
	width:800px;
	height:auto;
	margin: 20px auto;
}

.carouselWrapper img {
	max-width:100%;
	height:auto;
}

/*--------------*/
/* Video */
.module video {
	margin-left: 10%;
	margin-top: 0%;
	width:80%;
	-webkit-box-shadow: 6px 6px 34px #000;
}

.module .videoWrapper {
	width:70%;
	min-width:350px;
}

.module .videoWrapper.left {
	float:left;
}

.module .videoWrapper.right {
	float:right;
}

/*--------------*/
/* Meta */
.module .meta {
	width:30%;
}

.module .meta.left {
	float:left;
}

.module .meta.right {
	float:right;
}

.module .meta p {
	text-align: left;
	font-size: 1em;
	margin: 0 auto;	
	padding: 10%;	
	line-height:1.5em;
}

.module .meta b{
	font-weight: 600;
}



/*----------------------------------------SELECT WORK---------------------------------------------*/

#selectWork {
	width:100%;
	margin:0px;
	padding:1em 1em; 

	color: #d6d6d6;
	font-size: 1.5em;
	font-weight: 600;
	line-height:1em;
	text-align: center;

	background: whitesmoke;
}

#selectWork span {
	font-size: 0.5em;
	font-weight: 600;
	letter-spacing:-0.05em;
	text-align: center;		
}


/*----------------------------------------HBO XBOX---------------------------------------------*/
#hboXbox {
	height:auto;
	padding-bottom: 5%;  
}


/*---------------------------------FOOTER---------------------------------------------*/

footer {
	width: 100%;
	height:300px;
	background: black;
	float:left;
	margin:0;
	padding: 0;
}

footer h1 {
	color: white;
/*	vertical-align: middle !important;
*/	position: absolute;
	float: center; /* If you want it to be centered */
	padding-top: 150px;
	margin:0 !important;
}

footer span{
	font-size: 0.3em;
	font-weight: 500;
	letter-spacing:0.05em;
	text-align: center;		
}


/*--------------------------------------------------------------------------*/
/* Media queries */

/*-------------------------------DESKTOP------------------------------------*/
@media only screen and (min-width: 800px) {

}


/*-------------------------------TABLET------------------------------------*/
@media only screen and (min-width : 401px) and (max-width: 800px) {
	/*Video*/
	.module video {
		margin:0;
		width:90%;
		-webkit-box-shadow: 6px 6px 34px #000;
	}

	.module .videoWrapper {
		width:100%;
		min-height:200px;
		min-width:350px;
	}

	.module .videoWrapper.left {
		float:left;
	}

	.module .videoWrapper.right {
		float:right;
	}

	/*Meta*/
	.module .meta {
		width:100%;
		margin: 0px;
		padding:0px;
	}

	.module .meta p {
		margin:0%;
		padding:5%;
	}

}

/*-------------------------------MOBILE------------------------------------*/
@media only screen and (max-width: 400px) {
	.module .section.videoWrapper {
		width:100%;
		margin:auto;
	}

	.module .section.meta {
		width:100%;
	}
}

