.container {
	/* defaults for resposive height container */
/* 	position: relative; */
	position: absolute;
	width: 100%;
	height: 0;
	
	/* 39% being the ratio we are maintaining 
	 * calculated by looking at the image 
	 * ratio: 400/1024 = ~0.39 */
	padding: 0 0 76.25% 0;
	margin: 0 auto;
	top:1%;
	transform: scale(0.95,0.95);
	-ms-transform: scale(0.95,0.95); /* IE 9 */
	-webkit-transform: scale(0.95,0.95); /* Safari and Chrome */
}

.iosSlider {
	width: 100%;
	
	/* this height ends up being your maximum height, 
	 * if you want it to scale forever, set it to 
	 * a very high number */
	height: 1500px;
}

.iosSlider .slider {
	width: 100%;
	height: 100%;
}

.iosSlider .slider .item {
	float: left;
	
	width: 100%;
}

.iosSlider .slider .item img {
	width: 100%;
	height: auto;
}

/* controls */
.container .prevContainer {
	position: absolute;
	top: 25%;
	left: -30%;
	width: 100px;
	
	padding: 0 0 19.5% 0;
	z-index: 2000;
}

.container .prevContainer .prev {
	position: absolute;
	bottom: -10%;
	left: 0;
	width: 100%;
	height: auto;
	background: transparent;
}

.container .prevContainer .prev img {
	width: 50%;
	height: auto;
	opacity:0.5;
}

.container .prevContainer .prev img:hover {
	opacity:1;
}

.container .nextContainer {
	position: absolute;
	top: 25%;
	right: -30%;
	width: 100px;
	padding: 0 0 19.5% 0;
	z-index: 2000;
}

.container .nextContainer .next {
	position: absolute;
	bottom: -10%;
	left: 0;
	width: 100%;
	height: auto;
	background: transparent;
}

.container .nextContainer .next img {
	width: 50%;
	height: auto;
	opacity:0.5;
}

.container .nextContainer .next img:hover {
	opacity:1;
}

.container .selectorsBlock {
	position: absolute;
	bottom: 10px;
	width: 100%;
	height: 5%;
	margin: 0 auto;
}

.container .selectorsBlock .selectors {
	position: relative;
	top: 0;
	left: 0;
	margin: 0 auto;
	width: 20%;
	height: 100%;
	padding-left:7%;
}

.container .selectorsBlock .selectors .item {
	position: relative;
	top: 0;
	left: 0;
	float: left;
	width: 5%;
	height: 30%;
	margin: 0 5% 0 5%;
	background: #aaa;
	border-radius: 50%; /*grace added*/
}

.container .selectorsBlock .selectors .selected {
	background: #333;
}

.container .selectorsBlock .selectors .first {
	margin-left: 0;
}

/* portrait */


.container .prevContainer #prev3 {
	top: 200%;
	left: -30%;
}

.container .nextContainer #next3 {
	top: 200%;
	left: 30%;
}

.container .prevContainer #prev4 {
/* 	left: 20%; */
}

.container .prevContainer #prev4 img{
	width: 35% !important;
	height: auto !important;
}

.container .nextContainer #next4 {
/* 	left: -20%; */
}

.container .nextContainer #next4 img {
	width: 35% !important;
	height: auto !important;
}